*{
    box-sizing: border-box;
}
body{
    font-family: tahoma , arial;
}
.container{
    margin: 20px auto;
    width: 1000px;
}
.row{
    display: flex;
}
hr{
    border: 2px solid #eee;
}
.game-info{
    display: flex;
}
.game-info .game-name{
    flex:1;
}
.game-info .category{
    flex: 1;
    text-align: right;
}
.game-info .category span{
    text-transform: capitalize;
    color: #e91e63;
    font-weight:bold;
}
.hangman-draw{
    flex: 1;
    background-color: #f6f6f6;
    padding: 20px;
    height: 300px;
    left: -60px;
}
.the-draw{
width: 60px;
height: 100%;
border-bottom: 4px solid #222;
position: relative;
margin: auto;
left: -60px;
display: none;
}
.hangman-draw.wrong-1 .the-draw{
    display: block;
}
.hangman-draw.wrong-2 .the-stand{
    display: block;
}
.hangman-draw.wrong-3 .the-hang{
    display: block;
}
.hangman-draw.wrong-4 .the-rope{
    display: block;
}
.hangman-draw.wrong-5 .the-man{
    display: block;
}
.hangman-draw.wrong-6 .body{
    display: block;
}
.hangman-draw.wrong-7 .hands{
    display: block;
}
.hangman-draw.wrong-8 .legs{
    display: block;
}
.hangman-draw .the-stand{
    margin-left: -2px;
    display: none;
}

.hangman-draw .the-stand:before{
    content: '';
    position: absolute;
    width: 4px;
    background-color: #222;
    height: 100%;
    left: 50%;
}
.hangman-draw .the-hang{
    display: none;
}
.hangman-draw .the-hang:before{
    content: "";
    position: absolute;
    height: 4px;
    background-color: #222;
    width: 100px;
    left: 30px;
    top: 15px;
}
.hangman-draw .the-hang:after{
    content: "";
    position: absolute;
    width: 4px;
    height: 30px;
    background-color: #222;
    left: 128px;
    top: 15px;
}
.hangman-draw .the-rope{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    left: 95px;
    top: 45px;
    border: 4px dashed #222;
    display: none;
}
.hangman-draw .the-man {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #222;
    position: absolute;
    left: 105px;
    top: 55px;
    display: none;
}
.hangman-draw .body{
    position: absolute;
    background-color: #222;
    width: 4px;
    height: 110px;
    top: 105px;
    left: 128px;
    display: none;
}
.hangman-draw .hands:after,
.hangman-draw .hands:before{
    content: '';
    width: 50px;
    position: absolute;
    height: 4px;
    background-color: #222;
    top: 114px;

}
.hangman-draw .hands:before{
    left: 128px;
    transform: rotate(-30deg);
}
.hangman-draw .hands{
    display: none;
}
.hangman-draw .legs{
    display: none;
}
.hangman-draw .hands:after{
    left: 82px;
    transform: rotate(30deg);
    
}
.hangman-draw .legs:after,
.hangman-draw .legs:before{
    content: '';
    width: 50px;
    position: absolute;
    height: 4px;
    background-color: #222;
    top: 224px;

}
.hangman-draw .legs:before{
    left: 82px;
    transform: rotate(-30deg);
}
.hangman-draw .legs:after{
    left: 128px;
    transform: rotate(30deg);
    
}
.latters{
    flex: 1;
    padding: 15px;
    text-align: center;
}
.latters.finished{
    pointer-events: none;

}
.latters .letter-box{
    width: 55px;
    height: 55px;
    display: inline-block;
    background-color: #3b8175;
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 12px;
}
.latters .letter-box.clicked{
background-color: #222;
opacity: .2;
pointer-events: none;
}
.letters-guses{
    margin: 10px auto;
    background-color: #f6f6f6;
    padding: 20PX;
    display: flex;
    justify-content: center;
    min-height: 104PX;
}
.letters-guses span{
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin-right: 10px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #fdfdfd;
    border-bottom: 3px solid #222;
    transition: .3s;
}
.letters-guses span.width-space{
    background: none;
    border-bottom: none;
    position: relative;
}
.letters-guses span.width-space:before{
    content:"";
    width: 20px;
    height: 4px;
    background-color: #222;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.popoup{
    position: fixed;
    background-color:#3b8175;
    padding: 100px 20px ;
    width: 80%;
    top: 10%;
    left: 10%;
    text-align: center;
    font-size: 40px;
    border: 3px solid #ccc;
    color:#fff;
}
.byttonSuc{
    background-color: #fff;
    border: 2px solid #fff;
    color: #3b8175;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
}
